.Navbar{
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
ul{
  display: flex;
}
li{
  padding: 20px;
  list-style-type: none;
}