.Navbar{
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  padding-left: 180px;
  padding-right: 180px;
}
.title{
  font-size: 50px;
}
ul{
  display: flex;
  margin: 0px;
}

.active{
  background-color: aqua;
}
a{
  padding: 30px;
  list-style-type: none;
  text-decoration: none;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-left: 180px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 180px;
 
}
.item{
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px; 
}
button{
  padding: 12px;
  border: 0px;
  background-color: beige;
}
button:hover{
  background-color: brown;
  cursor: pointer;
}
.item img{
  height: 400px;
  width: 400px;
}

.missionVision{
display: grid;
grid-template-columns: 1fr 1fr 1fr;

width: 70%;
gap: 50px;
margin-bottom: auto;
margin-right: auto;
margin-left: auto;
margin-top: 30px;
}
.missionVision > *{
 text-align: center;
 font-size: 30px;
 line-height:1.7;
}
.titleAbout{
  font-weight: bolder;
}








header{
  font-size: 40px;
  text-align: center;
}
.cart{
  width: 70%;
  margin: 0 auto;
  background-color: aquamarine;
}
.tableHead{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 20px;
  border-bottom: 2px solid black;
  font-size: 25px;
}
.thItems{
  
  text-align: center;
}
.thQuantity,.thSubtotal{
  text-align: center;
 
}
.checkOutImage{
  
}
.checkOutImage img{
  height: 200px;
}
.toCheckOut{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-top: 20px;

}
.checkOutDetails{
 display: flex;
 justify-content: space-around;
 height: 80%;
 flex-direction: column;
}
.btnRemove{
  width: 150px;
}
.checkOutDetails .itemName{
 font-size: 23px;
}
.checkOutQuantity{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.checkOutQuantity > *{
  
  height: 20px;
  width: 20px;
}
.minus{
  border-top: 1.5px solid black;
  border-left: 1.5px solid black;
  border-bottom: 1.5px solid black;
}
.add{
  border-top: 1.5px solid black;
  border-right: 1.5px solid black;
  border-bottom: 1.5px solid black;
}
.qnty{
  border-top: 1.5px solid black;
  border-left: 1.5px solid black;
  border-bottom: 1.5px solid black;
  border-right: 1.5px solid black;
}
.checkOutSubtotal{
 text-align: center;
}
.totality{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-bottom: 40px;
}
.totalText{
  text-align: center;
}
.btnCheckOut{
  width: 150px;
  align-self: center;
  margin: auto;
}

footer{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background-color: aquamarine;
  position: fixed;
  bottom: 0;
  gap: 10px;
  width: 100%;
}


#gh{
  width: 30px;
}